* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poll {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.wrapper {
    display: flex;
    gap: 50px;
}

.option {
    text-align: center;
    cursor: pointer;
}

.value {
    font-size: 50px;
    margin-bottom: 10px;
}

.votes {
    font-size: 25px;
}